/* ---------------------------common item start here--------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
a{
    text-decoration: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/* ---------------------------common item end here--------------- */

/* ---------------------------navbar start here--------------- */
#navbar{
    background-color: #2D2F68;
}
.navbar__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{
   display: flex;
   align-items: center;
   justify-content: center;
}
.navbar__logo--img i{
    color: #FFFFFF;
}
.navbar__menu{
    display: flex;
    align-items: center;
    column-gap: 48px;
}
.navbar__menu_list{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.navbar__menu_list--item{
    color: #BBBBCB;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.navbar__menu_list--item:hover{
    color: #fff;
}
.common__btn{
    margin: 16px 0;
    padding: 16px 48px;
    border-radius: 40px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    background: #2D2F68;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.common__btn:hover{
    background: #FCD980;
}
.navbar__btn--text{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}
.common__btn:hover 
.navbar__btn--text {
    color:#1B1C2B;
}
/* ---------------------------navbar end here--------------- */

/* ---------------------------banner section start here--------------- */
#banner{
    padding: 127px 0;
    background: #2D2F68;
}
.banner_wrapper{
    display: flex;
    align-items: center;
    column-gap: 60px;

}
.banner_text h1{
    width: 582px;
    color: #FFF;
    font-family: Poppins;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    text-transform: capitalize;
}
.banner_text .pera_1{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 24px 0 48px 0;
    line-height: 28px;
}
.banner_btn{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.banner__btn--text{
    color: #fff;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.common__btn:hover 
.banner__btn--text{
    color: #1B1C2B;
}    
.text_1{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.text_1 i{
    color: #FFF;
    margin-left: 16px;
}
/* ---------------------------banner section end here--------------- */

/* ---------------------------work section start here---------------- */
#work{
    padding: 128px 0;
    background: #F4F6FC;
}
.work_wrapper{
    display: flex;
    column-gap: 142px;
}
.work_text h2{
    color: #282938;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-transform: capitalize;
}
.pera_2{
    width: 405px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 16px 0;
}
.text_2{
    color: #2405F2;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
}
.text_2 i{
    color: #2405F2;
    margin-left: 16px;
}
.work_item{
    width: 656px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 57px;
}
.work_item h3{
    color: #282938;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.pera_3{
    width: 303px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* ---------------------------work section end here---------------- */

/* ---------------------------project section start here--------------- */
#project{
    padding: 128px 0;
    background: #Fff;
}
.project_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project_top h2{
    color: #282938;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-transform: capitalize;
}
.project_top .text_1{
    color: #1B1C2B;
}
.project_top .text_1 i{
    color: #1B1C2B;
}
.project_main{
    margin-top: 64px;
    display: flex;
    column-gap: 32px;
}
.project_left{
    width: 843px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.project_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project_left .overlay{
    width: 396px;
    height: 600px;
    position: absolute;
    left: -396px;
    top: 0;
    z-index: 55;
    transition: all linear 0.3s;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.project_left:hover .overlay{
    left: 0;
}
.project_left .overlay h2{
    width: 313px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 48px;
    margin-top: 312px;
    text-transform: capitalize;
}
.overlay .pera_4{
    width: 293px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin: 16px 0 40px 48px;
}
.overlay .text_4{
    color: #FCD980;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 48px;
}
.overlay .text_4 i{
    margin-left: 16px;
}
.project_right{
    width: 405px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.img_box{
    width: 100%;
    height: 284px;
    overflow: hidden;
    position: relative;
}
.img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_box .overlay{
    width: 405px;
    height: 284px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 55;
    transition: all linear 0.3s;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.img_box:hover .overlay{
    opacity: 1;
}
.img_box .overlay h2{
    width: 313px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
    margin: 129px 36px 10px 56px;
}
.overlay .text_5{
    color: #FCD980;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 56px;
}
.text_5 i{
    margin-left: 16px;
}
/* ---------------------------project section end here--------------- */

/* ---------------------------product section start here-------------- */
#product{
    padding: 128px 0;
    background: #F4F6FC;
}
.product_headding h5{
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto;
    text-transform: capitalize;
}
.product_headding h2{
    width: 630px;
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin: 0 auto;
    padding: 12px 0 47px 0;
}
.product_service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 24px;
}
.product_service--item{
    width: 405px;
    height: 316px;
    background: #FFF;
    padding: 58px 32px 48px 48px;
}
.product_service--item h3{
    color: #282938;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-transform: capitalize;
    margin: 23px 0 12px 0;
}
.product_service--item p{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
/* ---------------------------product section end here-------------- */

/* ---------------------------clients section start here-------------- */
#clients{
    padding: 130px 0;
    background: #F4F6FC;
}
.clients_wrapper{
    display: flex;
    column-gap: 110px;
}
.clients_left_side h2{
    width: 327px;
    color: #282938;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 16px;
}
.clients_left_side p{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.clients_right_side h3{
    width: 843px;
    color: #282938;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 40px;
}
.clients_info{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.clients_img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}
.clients_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.clients_info-text h5{
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.clients_info-text p{
    color: #282938;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
}
/* ---------------------------clients section end here-------------- */

/* ---------------------------questions section start here-------------- */
#questions{
    padding: 128px 0;
}
.questions_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 136px;
}
.questions_headding h2{
    width: 328px;
    color: #282938;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 16px;
}
.questions_headding a{
    color: #2405F2;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.questions_main{
    width: 846px;
}
.questions_item{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 2px solid #ECECF1;
    padding: 32px 0;
}
.questions_item:last-child{
    border-bottom: none;
}
.questions_item--info{
    display: flex;
    column-gap: 53px;
}
.questions_item--num span{
    color: #2405F2;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.questions_item--head h3{
    color: #282938;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; 
}
.questions_item--head p{
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 16px 25px 0 0;
}
.questions_item--icon i{
    color: #282938;
    opacity: 0.7;
    font-size: 18px;
    line-height: 36px;
}
/* ---------------------------questions section end here-------------- */

/* ---------------------------startup section start here-------------- */
.startup_wrapper{
    display: flex;
}
.startup_left{
    width: 656px;
    height: 691px;
    overflow: hidden;
    position: relative;
}
.startup_left picture{
    width: inherit;
    height: inherit;
}
.startup_left img{
    width: 100%;   
    height: 100%; 
    object-fit: cover;
    display: block;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(28, 30, 83, 0.50);
    top: 0;
    left: 0;
    position: absolute;
}
.startup_left h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px; 
    padding: 96px 96px 24px 96px ;
}
.startup_left p{
    width: 464px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 96px;
}
.startup_right{
    width: 624px;
    height: 691px;
    background: #1C1E53;
    padding: 96px 96px 48px 96px;
}
.startup_right h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px; 
    padding-bottom: 16px;
}
.startup_right p{
    color: #F4F6FC;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 40px;
}
.startup_right form input{
    width: 100%;
    height: 64px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    background: transparent;
    color: #F4F6FC;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 32px;
}
.startup_right form button{
    display: flex;
    width: 432px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background: #FCD980;
    margin-top: 23px;
}
.startup_right form button a{
    color: #1B1C2B;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.startup_right .text_6{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 28px;
    display: block;
    text-align: center;
}
.text_6 i{
    color: #FFF;
    margin-left: 16px;
}
/* ---------------------------startup section end here-------------- */
 
/* ---------------------------blog section start here-------------- */
#blog{
    padding: 128px 0;
}
.blog_heading h2{
    color: #282938;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    padding-bottom: 64px;
}
.blog_info{
    display: flex;
    column-gap: 32px;
}
.blog_info-box picture{
    width: 405px;
    height: 285px;
    overflow: hidden;
}
.blog_info-box img{
    width: 100%;  
    height: 285px; 
    object-fit: cover;
    display: block;
    margin-bottom: 40px;
}
.blog_info-box span{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.blog_info-box h3{
    width: 405px;
    color: #282938;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding: 16px 0;
}
.blog_info-box p{
    width: 405px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    padding-bottom: 32px;
}
.blog_info-box a{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.blog_info-box i{
    color: #282938;
    margin-left: 13px;
}
/* ---------------------------blog section end here-------------- */

/* ---------------------------footer section start here-------------- */
#footer{
    background: #1C1E53;
}
.footer_banner{
    display: flex;
    column-gap: 260px;
    padding-top: 100px;
}
.logo{
    width: 156px;
    overflow: hidden;
    margin-bottom: 22px;
}
.logo img{
    width: 100%;
    height: 100%;
    color: #fff;
    object-fit: cover;
}
.footer_banner--left p{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 86px;
}
.footer_banner--right ul{
    display: flex;
    column-gap: 26px;
}
.footer_banner--right h3{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}
.footer_banner--right p{
    color: #F4F6FC;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 14px 0 28px 0;
}
.footer_banner--right ul i{
    width: 16px;
    height: 16px;
    color: #FFF;
}
.footer_box{
    width: 517px;
    height: 95px;
    display: flex;
    column-gap: 29px;
    background: #FCD980;
    padding: 17px 0 17px 37px;
}
.footer_box p{
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.footer_box a{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* ---------------------------footer section end here-------------- */

/* ---------------------------footer_link section start here-------------- */

/* ---------------------------footer_link section end here-------------- */




